.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.custom-card {
    width: 500px;
    transition: width 0.5s ease-in-out;
    background-color: white;
    border-radius: 30px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 20px;
}

@media (max-width: 500px) {
    .custom-card {
        width: 370px;
    }
}

.container-editar-roupa-texto {
    margin-bottom: 20px;
}

.editar-roupa-text {
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    color: #32445c;
}

.editar-roupa-phrase {
    text-align: left;
    font-size: 16px;
    color: #32445c;
}



#form-floating-tempo-roupa {
    margin-top: 10px;
}

#form-floating-preco-roupa {
    margin-top: 10px;
}

.form-floating input:focus ~ label,
.form-floating input:placeholder-shown ~ label {
    color: #32445c;
}

.form-floating input:focus ~ label {
    color: #6b6771;
}

.form-floating label {
    margin-top: -2px;
}

.custom-input:focus {
    border-color: #6fb5df;
    box-shadow: 0 0 0 0.2rem #a5d7f3;
}

.custom-input:hover {
    outline: none;
    border-color: #6fb5df;
    cursor: text;
}

.invalid-border {
    border-color: red;
}

.container-button{
    margin-top: 20px;
}

.custom-btn {
    color: #fff;
    border: none;
    border-radius: 30px; 
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer; 
    letter-spacing: inherit;
    margin-top: 6px;
    width: 120px;
}

.btn-voltar {
    background-color: #3dabe1;
}

.btn-voltar:hover {
    background-color: #1c8bc1;
}

.btn-voltar:active {
    background-color: #66c0eb;
}

.btn-salvar {
    background-color: green;
}

.btn-salvar:hover {
    background-color: rgb(0, 100, 0);
}

.btn-salvar:active {
    background-color: rgb(0, 182, 0);
}

.btn-salvar:disabled {
    background-color: rgba(0, 160, 0, 0.637);
}

.btn-voltar {
    margin-right: 20px;
}
