<div class="background">
  <div class="modal-container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg custom-card border-0">
      <div class="card-body">
        <div class="container-editar-funcionario-texto">
          <h5 class="editar-funcionario-text card-title">Editar Funcionário</h5>
          <h6 class="editar-funcionario-phrase card-subtitle">
            Edite aqui o funcionário existente.
          </h6>
        </div>

        <form #formEditarFuncionario="ngForm" class="container-form">
          <div class="container-imput">
            <div class="imput-form">
              <div id="form-floating-nome-funcionario">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control custom-input"
                    name="nome"
                    id="nome"
                    placeholder=" "
                    [(ngModel)]="funcionarioParaEditar.usuario.nome"
                    #nome="ngModel"
                    required
                    [class.invalid-border]="
                      nome.invalid && (nome.dirty || nome.touched)
                    "
                    maxlength="100"
                    letras-somente
                  />
                  <label for="nome">Nome do funcionário</label>
                </div>
              </div>
              <div
                *ngIf="nome.errors && (nome.dirty || nome.touched)"
                class="left-align text-danger"
              >
                <div [hidden]="!nome.errors['required']">
                  Insira o nome do funcionário
                </div>
              </div>
            </div>

            <div class="imput-form">
              <div id="form-floating-tempo-funcionario">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control custom-input"
                    name="email"
                    id="email"
                    placeholder=" "
                    [(ngModel)]="funcionarioParaEditar.usuario.email"
                    #email="ngModel"
                    required
                    [class.invalid-border]="
                      email.invalid && (email.dirty || email.touched)
                    "
                    email
                  />
                  <label for="email">Email</label>
                </div>
              </div>
              <div
                *ngIf="email.errors && (email.dirty || email.touched)"
                class="left-align text-danger"
              >
                <div [hidden]="!email.errors['required']">
                  Insira o email do funcionário
                </div>
                <div [hidden]="!email?.errors?.['email']">
                  Formato de email inválido
                </div>
              </div>
            </div>

            <div class="imput-form">
              <div id="form-floating-preco-funcionario">
                <div class="form-floating">
                  <input
                    type="text"
                    class="form-control custom-input currency-input"
                    name="dataNascimento"
                    id="dataNascimento"
                    placeholder=" "
                    [(ngModel)]="funcionarioParaEditar.dataNascimento"
                    #dataNascimento="ngModel"
                    required
                    [class.invalid-border]="
                      dataNascimento.invalid &&
                      (dataNascimento.dirty || dataNascimento.touched)
                    "
                    
                    (focus)="clearValueInvalid()"
                  />
                  <label for="dataNascimento">Data de nascimento</label>
                </div>
              </div>
              <div
                *ngIf="
                  dataNascimento.errors &&
                  (dataNascimento.dirty || dataNascimento.touched)
                "
                class="left-align text-danger"
              >
                <div [hidden]="!dataNascimento.errors['required']">
                  Insira a data de nascimento do funcionário
                </div>
              </div>
            </div>
          </div>

          <div class="imput-form">
            <div id="form-floating-tempo-funcionario">
              <div class="form-floating">
                <input
                  type="password"
                  class="form-control custom-input"
                  name="senha"
                  id="senha"
                  placeholder=" "
                  [(ngModel)]="funcionarioParaEditar.usuario.senha"
                  #senha="ngModel"
                  
                  [class.invalid-border]="
                    senha.invalid && (senha.dirty || senha.touched)
                  "
                />
                <label for="senha">Senha</label>
              </div>
            </div>
            <div
              *ngIf="senha.errors && (senha.dirty || senha.touched)"
              class="left-align text-danger"
            >
              <div [hidden]="!senha.errors['required']">
                Insira o senha do funcionário
              </div>
            </div>
          </div>
        </form>

        <div class="container-button d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary custom-btn btn-voltar mr-2"
            (click)="cancelar()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary custom-btn btn-salvar"
            (click)="salvar()"
            [disabled]="!formEditarFuncionario.form.valid"
          >
            Salvar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
