<div class="background">
  <div
    class="d-flex justify-content-center align-items-center"
    style="min-height: calc(100vh - 80px)"
  >
    <div class="container">
      <div class="card shadow-lg custom-card border-0">
        <div class="card-body">
          <form
            #formConsultaPedido="ngForm"
            class="container-form d-flex flex-column justify-content-start"
          >
            <div class="container-consulta-pedido-texto">
              <h5 class="consulta-pedido-text card-title">Consultar Pedido</h5>
              <h6 class="consulta-pedido-phrase card-subtitle">
                Busque aqui seus pedidos por código.
              </h6>
            </div>

            <div class="d-flex align-items-start justify-content-start mb-3">
              <div class="imput-form" style="flex: 1">
                <div id="form-floating-consulta-pedido">
                  <div class="form-floating">
                    <input
                      type="text"
                      class="form-control custom-input"
                      name="consulta"
                      id="consulta"
                      placeholder=" "
                      [(ngModel)]="numeroPedido"
                      #consulta="ngModel"
                      required
                      pattern="[0-9]*"
                      [class.invalid-border]="
                        consulta.invalid && (consulta.dirty || consulta.touched)
                      "
                      maxlength="12"
                    />
                    <label for="consulta">Código do pedido</label>
                  </div>
                </div>
                <div
                  *ngIf="
                    consulta.errors && (consulta.dirty || consulta.touched)
                  "
                  class="left-align text-danger"
                >
                  <div [hidden]="!consulta.errors['required']">
                    Insira o código do pedido
                  </div>
                  <div [hidden]="!consulta.errors['pattern']">
                    Insira somente números
                  </div>
                </div>
              </div>

              <div class="container-button">
                <button
                  type="submit"
                  class="btn btn-primary custom-btn custom-btn-consultar"
                  (click)="consultar()"
                  [disabled]="!formConsultaPedido.form.valid"
                >
                  Consultar
                </button>
              </div>
            </div>
          </form>

          <div *ngIf="pedidoEncontrado === true">
            <div class="container-dados-pedido">
              <div class="container-card-pedido-codigo card">
                <td id="codigo-pedido-text">
                  N° do pedido:
                  <span id="codigo-pedido-results">{{
                    pedido.numeroPedido
                  }}</span>
                </td>
              </div>
              <div class="container-situacao-prazo-pedido-text">
                <div class="container-situacao-text">
                  Situação:
                  <span
                    [ngClass]="{
                      'text-yellow': pedido.situacao === Status.EM_ABERTO,
                      'text-red':
                        pedido.situacao === Status.REJEITADO ||
                        pedido.situacao === Status.CANCELADO,
                      'text-gray': pedido.situacao === Status.RECOLHIDO,
                      'text-blue':
                        pedido.situacao === Status.AGUARDANDO_PAGAMENTO,
                      'text-orange': pedido.situacao === Status.PAGO,
                      'text-green': pedido.situacao === Status.FINALIZADO
                    }"
                  >
                    {{ formatSituacao(pedido.situacao) }}
                  </span>
                </div>
                <div class="container-prazo-pedido-text">
                  Prazo:
                  <span id="prazo-pedido-results">{{ prazoServico }}</span>
                </div>
              </div>
            </div>

            <div class="container-table shadow-sm alarm-table table-responsive">
              <table class="table table-hover">
                <thead>
                  <tr class="custom-headers-tfoot text-center">
                    <th scope="col">Itens</th>
                    <th scope="col">Quantidade</th>
                    <th scope="col">Valor</th>
                  </tr>
                </thead>
                <tbody class="table-items-body custom-tr-items text-center">
                  <tr *ngFor="let item of pedido.listaPedidoRoupas">
                    <td>
                      {{ item.roupa.descricao }}
                    </td>
                    <td>{{ item.quantidade }}</td>
                    <td>
                      R${{ formatarValor(item.roupa.preco * item.quantidade) }}
                    </td>
                  </tr>
                </tbody>

              </table>
              <div colspan="3" class="text-center valor-text">
                Valor total: R$ <span>{{ formatarValor(precoTotal) }}</span>
              </div>
            </div>
          </div>

          <div *ngIf="pedidoEncontrado === false" class="alert-container">
            <div class="alert-container row justify-content-center">
              <div class="alert alert-danger mt-3 text-center">
                <p class="mb-0">
                  Nenhum pedido encontrado para o código
                  <strong>{{ consultaPedidoSubmetido }}</strong
                  >.
                </p>
                <p class="mb-0">Revise o código informado e tente novamente.</p>
              </div>
            </div>
          </div>

          <div class="container-button d-flex justify-content-end mt-auto">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
