<div class="background">
  <div class="modal-container d-flex justify-content-center align-items-center">
    <div class="card shadow-lg custom-card border-0">
      <div class="card-body">
        <div class="container-editar-roupa-texto">
          <h5 class="editar-roupa-text card-title">Excluir Roupa</h5>
          <h6 class="editar-roupa-phrase card-subtitle">
            Tem certeza que deseja excluir permanentemente a roupa selecionada?
          </h6>
        </div>

        <div class="container-table" style="overflow-x: auto">
          <table class="table table-hover">
            <tbody class="table-items-body">
              <tr>
                <td class="tbody-header">Descrição:</td>
                <td class="tbody-result">{{ roupaParaExcluir.descricao }}</td>
              </tr>
              <tr>
                <td class="tbody-header">Prazo (dias úteis):</td>
                <td class="tbody-result">{{ roupaParaExcluir.prazoDias }}</td>
              </tr>
              <tr>
                <td class="tbody-header">Preço:</td>
                <td class="tbody-result">R${{ formatarValor(roupaParaExcluir.preco) }}</td>
              </tr>
            </tbody>
          </table>
        </div>

        <div class="container-button d-flex justify-content-end">
          <button
            type="button"
            class="btn btn-primary custom-btn btn-cancelar mr-2"
            (click)="cancelar()"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary custom-btn btn-excluir"
            (click)="excluir()"
          >
            Excluir
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
