.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 auto;
    text-align: left;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    -webkit-tap-highlight-color: transparent;
}

.custom-card {
    width: 500px;
    transition: width 0.5s ease-in-out;
    background-color: white;
    border-radius: 30px;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 20px;
}

@media (max-width: 500px) {
    .custom-card {
        width: 370px;
    }
}

.container-editar-roupa-texto {
    margin-bottom: 20px;
}

.editar-roupa-text {
    text-align: left;
    font-size: 30px;
    font-weight: 300;
    color: #32445c;
}

.editar-roupa-phrase {
    text-align: left;
    font-size: 16px;
    color: #32445c;
}


.table-items-body td{
    color: #32445c;
    font-size: 18px;
}

.tbody-header {
    font-weight: 600;
}

.tbody-result {
    font-weight: 500;
}

.container-table tbody td {
    border: 1px solid #ccc;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #e2f5fff1;
}


.container-button{
    margin-top: 20px;
}

.custom-btn {
    color: #fff;
    border: none;
    border-radius: 30px; 
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer; 
    letter-spacing: inherit;
    margin-top: 6px;
    width: 120px;
}

.btn-cancelar {
    background-color: #3dabe1;
}

.btn-cancelar:hover {
    background-color: #1c8bc1;
}

.btn-cancelar:active {
    background-color: #66c0eb;
}

.btn-excluir {
    background-color: red;
}

.btn-excluir:hover {
    background-color: rgb(211, 0, 0);
}

.btn-excluir:active {
    background-color: rgb(255, 88, 88);
}

.btn-cancelar {
    margin-right: 20px;
}
